<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <h1>Balance Sheet</h1>
    <hr>

    <table>
        <tr>
            <th>Item ID</th>
            <th>Name</th>
            <th>MRP</th>
            <th>Purchase Rate</th>
            <th>Low Stock Count</th>
            <th>Total In</th>
            <th>Total Out</th>
            <th>Balance</th>
        </tr>

        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
            <td>{{ row[7] }}</td>
        </tr>

        {% endfor %}
    </table>
    {% endblock %}
</body>
</html>